<div class="container">
  <div class="p-1">
    <h2>Agendamentos</h2>
    <a class="nav-link" [routerLink]="['/agendamentos/adiconar']">Adicionar Agendamento<img src="../../assets/img/adicionar.svg" alt="Adicionar"></a>
    <div class="produtos">
      <div class="row" id="header-grid-produtos">
          <div class="header text-left col-2">Id</div>
          <div class="header text-left col-2">Data</div>
          <div class="header text-left col-2">Hora</div>
          <div class="header text-left col-4">Serviço</div>
          <div class="header text-left col-2">Usuario</div>
      </div>
      <div class="row mb-3">
          <ul class="col-12">
            <li class="row li-produtos" *ngFor="let item of modelAgendamentos">
              <div class="text-left col-2 align-middle">
                <span>{{ item.id_agendamento }}</span>
              </div>
              <div class="text-left col-2 align-middle">
                <span>{{ item.data_agendamento  | date: 'dd/MM/yyyy' }}</span>
              </div>
              <div class="text-left col-2 align-middle">
                <span>{{ item.data_agendamento  | date: time }}</span>
              </div>
              <div class="text-left col-4 align-middle">
                <span>{{ item.servico.nome }}</span>
              </div>
              <div class="text-left col-2 align-middle">
                <span>{{ item.usuario.nome}}</span>
              </div>
            </li>
          </ul>
      </div>
    </div>
    
    <div *ngIf="erros" >
      {{ mensagemErro }}
    </div>
  </div>
</div>