<div class="p-1">
  <h3>Novo Serviço</h3>

  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

    <div class="row">
      <div class="col-6">
        <label for="cpf">
          CPF
        </label>
        <input id="cpf" class="form-control" type="text" formControlName="cpf" required>
      </div>
      
      <div class="col-6">
        <label for="nome">
          Nome
        </label>
        <input id="nome" class="form-control" type="text" formControlName="nome" required>
      </div>

    </div>
    
    <div class="row">
      <div class="col-6">
        <label for="login">
          Login
        </label>
        <input id="login" class="form-control" type="text" formControlName="login" required>
      </div>

      <div class="col-6">
        <label for="senha">
          Senha
        </label>
        <input id="senha" class="form-control" type="password" formControlName="senha" required>
      </div>
    </div>

    <button class="button btn btn-success my-2" type="submit">Cadastrar</button>

  </form>
</div>